@import "tailwindcss";
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background: white;
    color: black;

    
}




/* //loader css  */
.loader_loading {
    width: 65px;
    aspect-ratio: 1;
    --g: radial-gradient(farthest-side, transparent calc(95% - 3px), #1B4A7E calc(100% - 3px) 98%, transparent 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l10 1.5s infinite;
  }
  
  @keyframes l10 {
    0% {
      background-position: 0 0, 0 100%, 100% 100%;
    }
    25% {
      background-position: 100% 0, 0 100%, 100% 100%;
    }
    50% {
      background-position: 100% 0, 0 0, 100% 100%;
    }
    75% {
      background-position: 100% 0, 0 0, 0 100%;
    }
    100% {
      background-position: 100% 100%, 0 0, 0 100%;
    }
  }



/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Style for bold text enclosed in double asterisks */
.bold-text {
    font-weight: bold;
}